* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: inherit;
}

:root {
	--accent: #fabf36;
	--nav-bg: rgba(4, 4, 4, 0.9);
	--main-bg: rgba(16, 16, 16, 0.9);
	--footer-bg: rgba(4, 4, 4, 0.95);
	--gallery-bg: rgba(8, 8, 8, 0.95);

	--cursor-neutral: url("../images/cursors/neutral.png") 0 0, default;
	--cursor-hand-point: url("../images/cursors/hand-point.png") 8 0, pointer;
	--cursor-text-input: url("../images/cursors/text-input.png") 4 14, text;
	cursor: var(--cursor-neutral);

	--background: url("../images/backgrounds/cave.jpg");
	--background-pixelated: url("../images/backgrounds/cave-pixelated.png");

	--focus-color: var(--accent);
}

:focus {
	outline: 2px solid var(--focus-color);
}

@supports (background-color: color(display-p3 0.98, 0.75, 0.21)) {
	:root {
		--accent: color(display-p3 0.98, 0.75, 0.21);
	}
}

.compatibility-warning {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 8em;
	padding-top: 5em;
	background-color: #a00;
	font: 1em/1 sans-serif;
	font-weight: bold;
	--focus-color: white;
}

body {
	--disable-compatibility-warning: none;
	& .compatibility-warning {
		@supports (background-image: linear-gradient(to top, var(--main-bg), var(--main-bg)), var(--background-pixelated)) {
			@media all and (min-width: 1px) {
				display: var(--disable-compatibility-warning);
			}
		}
		@supports not (background-image: linear-gradient(to top, var(--main-bg), var(--main-bg)), var(--background-pixelated)) {
			display: flex !important;
		}
	}
}

@keyframes nav-bg-darken-on-scroll {
	from {
		background-color: transparent;
	}
	to {
		background-color: var(--nav-bg);
	}
}

@keyframes nav-logo-darken-on-scroll {
	from {
		filter: var(--white-filter);
	}
	to {
		filter: var(--no-white-filter);
	}
}

::selection {
	background-color: color-mix(in srgb, var(--accent) 60%, transparent);
}

body {
	background-image: var(--background);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-color: black;
	color: white;

	--readable-padding: max(2rem, calc(50vw - 50rem));
	--current-width: min(calc(100vw - 4rem), 100rem);

	@media screen and (max-width: 80rem) {
		--readable-padding: 1rem;
		--current-width: calc(100vw - 2rem);
	}

	& > * {
		image-rendering: pixelated;
	}
}

@media screen and (max-width: 60rem) {
	body {
		font-size: 0.75rem;
	}
}

header {
	max-width: max-content;
	margin-inline: auto;
	--vertical-align: max(2em, calc(30svh - 15em));
	margin-top: calc(5em + var(--vertical-align));
	margin-bottom: var(--vertical-align);
	padding: 2em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;
}

nav {
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
	display: flex;
	align-items: center;
	gap: 1em;
	padding-block: 1em;
	padding-inline: var(--readable-padding);

	overflow-x: scroll;
	scrollbar-width: none;

	background-color: var(--nav-bg);
	animation: nav-bg-darken-on-scroll auto linear both;
	animation-timeline: scroll(root);
    animation-range: 0% 20em;

	& > :has(.logo-image) {
		margin-right: auto;

		& + * {
			margin-left: 1em;
		}
	}

	& .logo-image {
		filter: var(var(--no-white-filter));
		animation: nav-logo-darken-on-scroll auto linear both;
		animation-timeline: scroll(root);
		animation-range: 0% 20em;
	}

	@media screen and (max-width: 40rem) {
		& .logo-image {
			aspect-ratio: 16/20;
			object-fit: cover;
			object-position: left;
		}
	}

	& > .site-link {
		color: white;
		text-decoration: none;
		padding-inline: 0.5em;
		padding-right: 0.25em;

		&:hover {
			color: var(--accent);
		}

		&.selected {
			box-shadow: 0 0.25em 0 var(--accent);
		}
	}
}

main {
	display: block;

	background-image: linear-gradient(to top, var(--main-bg), var(--main-bg)), var(--background-pixelated);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	box-shadow: 0 -0.5em 0 rgba(0, 0, 0, 0.25);

	padding-block: 4em;

}

main > *,
footer {
	display: block;
	padding-inline: var(--readable-padding);
	margin-inline: auto;
}

main > * + *,
footer > section > * + *,
header > * + *,
p > * {
	margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

a {
	color: var(--accent);
	cursor: var(--cursor-hand-point);

	&:hover {
		color: #AAAAAA;
	}
}

a.button,
button {
	display: block;
	max-width: max-content;
	background-color: var(--accent);
	--focus-color: white;
	color: black;
	padding: 0.5em 2em;
	font: inherit;
	cursor: var(--cursor-hand-point);

	border: 0.125em solid rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 -0.25em rgba(0, 0, 0, 0.2);

	text-decoration: none;

	&:hover:not(:disabled) {
		background-color: white;
	}

	&:active:not(:disabled) {
		background-color: var(--accent);
		box-shadow: inset 0 0.25em rgba(0, 0, 0, 0.2);
	}

	&[disabled] {
		box-shadow: none;
		background: none;
		color: white;
		border-color: white;
		border-style: dashed;
		opacity: 0.6;
	}

	&.jumbo {
		padding: 1em 4em;
		border-width: 0.25em;
		box-shadow: inset 0 -0.5em rgba(0, 0, 0, 0.2);
		outline-width: 0.25em;

		&:active:not(:disabled) {
			background-color: var(--accent);
			box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2);
		}
	}
}

input[type="text"],
input[type="email"] {
	display: block;
	width: 100%;
	padding: 0.5em 1em;

	background-color: black;
	--focus-color: transparent;
	color: white;
	border: 0.125em solid rgb(255, 255, 255, 0.5);
	font: inherit;

	position: relative;
	cursor: var(--cursor-text-input);

	&::placeholder {
		color: rgb(255, 255, 255, 0.8);
	}

	&:focus {
		border-color: var(--accent);
		&::placeholder {
			color: rgb(255, 255, 255, 0.4);
		}
	}
}

footer {
	background-image: linear-gradient(to top, var(--footer-bg), var(--footer-bg)), var(--background-pixelated);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	box-shadow: inset 0 0.5em 0 rgba(0, 0, 0, 0.25);

	display: grid;
	align-items: end;
	row-gap: 4em;

	padding-block: 2em;

	@media screen and (min-width: 80rem) {
		grid-template-columns: 60% 40%;
	}

	& > section {
		width: 100%;
		opacity: 0.8;

		&:has(.logo-image) {
			display: flex;
			flex-direction: column;
			align-items: end;
			justify-content: end;
			text-align: right;
			gap: 0.5em;
			& > p {
				margin: 0;
			}
			& > .logo-image {
				filter: var(--white-filter);
			}
		}
	}
}

.logo-image {
	display: block;
	height: 2.5em;
	image-rendering: auto;
	--white-filter: grayscale(100%) brightness(130%);
	--no-white-filter: grayscale(0%) brightness(100%);
}

.gallery {
	display: flex;
	width: 100%;
	padding: 0;
	margin-block: 4em;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;

	image-rendering: auto;

	padding-block: 1em;
	@media screen and (max-width: 80rem) {
		padding-block: 0;
	}

	background-image: linear-gradient(to top, var(--gallery-bg), var(--gallery-bg)), var(--background-pixelated);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	box-shadow:
		inset 0 0.5em 0 rgba(0, 0, 0, 0.25),
		inset 0 -0.5em 0 rgba(0, 0, 0, 0.25);

	&:not(:has(:nth-child(2))) {
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 80rem) {
			& > * > img {
				width: 100vw;
			}
		}
	}

	& > * {
		margin-left: 1em;
		flex-shrink: 0;

		&:first-child {
			margin-left: var(--readable-padding);
		}
		&:last-child {
			margin-right: var(--readable-padding);
		}
		@media screen and (max-width: 80rem) {
			&:first-child,
			&:last-child {
				margin: 0;
			}
		}

		& > img {
			display: block;
			scroll-snap-align: center;
			--max-floating-width: min(90vw, 120svh);
			width: min(var(--current-width), var(--max-floating-width));
		}

		position: relative;

		&::before,
		&::after {
			content: "In-game capture. Graphics in development.";
			position: absolute;
			left: 1em;
			right: 1em;
			bottom: 1em;
			font-size: 0.75em;
			text-align: right;
		}

		&::after {
			mix-blend-mode: overlay;
			opacity: 0.5;
		}

		&::before {
			mix-blend-mode: screen;
			color: #222;
		}
	}
}